<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko if: isMethodActive() -->
<div class="braintree-express-paylater-message-container">
    <div class="paypal-paylater paypal-logo braintree-paypal-logo braintree-paypal-express-paylater-container checkout">
        <div data-bind="attr: {
                'data-currency': checkoutCurrency,
                'data-locale': checkoutLocale,
                'data-amount': checkoutAmount,
                'data-displayname': getMerchantName(),
                'data-actionsuccess': actionSuccess,
                'data-funding': 'paylater',
                'data-fundingicons': true,
                'data-label': buttonLabel,
                'data-color': buttonColor,
                'data-shape': buttonShape,
                'data-requiredbillingaddress': getIsRequiredBillingAddress()
                }"
             id="paypal-braintree-express-paylater"
             class="action-braintree-paypal-logo express-paylater"></div>
    </div>

    <!-- ko if: isMethodMessageActive() -->
    <div class="action-braintree-paypal-message"
         data-bind="attr: {
                'data-pp-amount': checkoutAmount,
                'data-currency-symbol': checkoutLocale,
                'data-amount': checkoutAmount,
                'data-messaging-layout': messageLayout,
                'data-messaging-logo': messageLogo,
                'data-messaging-logo-position': messageLogoPosition,
                'data-messaging-text-color': messageTextColor,
                }"
         data-pp-type="cart"
         id="paypal-braintree-express-paylater-message"
         data-currency-symbol=""
    ></div>
    <!-- /ko -->
</div>
<!-- /ko -->
