<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko if: viewModel.errorMessage() -->
    <div aria-atomic="true" role="alert" class="message message-error error">
        <span data-bind="text: viewModel.errorMessage"></span>
    </div>
<!--/ko-->
<form id="braintree-paypal-form" class="form" method="post" novalidate="novalidate">
    <div id="paypal_container_account"></div>
    <input type="hidden" name="braintree-paypal-payment-method-nonce" id="braintree-paypal-payment-method-nonce">
    <input type="submit" data-bind="text: 'Update to Use Paypal'" style="display: none" class="button" id="braintree-paypal-submit">
</form>
