<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="payment-method card-grid" css="'_active': (getCode() == isChecked())">
    <div class="payment-method-title field choice flex-center">
        <input type="radio"
               name="payment[method]"
               class="radio"
               attr="'id': getCode()"
               ko-value="getCode()"
               ko-checked="isChecked"
               click="selectPaymentMethod"
               visible="isRadioButtonVisible()">
        <label data-bind="attr: {'for': getCode()}" class="label flex-center">
            <img class="payment-type-icon" data-bind="attr: { src: paymentTypeIconUrl, alt: paymentTypeIconTitle }" />
            <span data-bind="text: getTitle()"></span>
        </label>
    </div>
    <div class="payment-method-content" data-bind="blockLoader: !isFormRendered()">
        <each args="getRegion('messages')" render=""></each>
        <div class="payment-method-billing-address" if="isFormRendered() && isAvailable()">
            <each args="$parent.getRegion(getBillingAddressFormName())" render=""></each>
        </div>
        <div class="checkout-agreements-block" if="isFormRendered() && isAvailable()">
            <each args="$parent.getRegion('before-place-order')" render=""></each>
        </div>
        <div class="card-container card-grid">
            <form attr="id: formId" afterRender="afterRender">
                <fieldset if="isAvailable" attr="class: 'fieldset payment items ccard ' + getCode(), id: 'payment_form_' + getCode()">
                    <div class="field type">
                        <div class="control">
                            <ul class="credit-card-types">
                                <each args="data: availableCards, as: 'ccCode'">
                                    <with args="$parent">
                                        <li class="item"
                                            css="_active: ccType() === ccCode || !ccType() , _inactive:   ccType() && ccType() !== ccCode "
                                            if="ccIcons[ccCode]"
                                            data-bind="attr: {
                                                'aria-label': ccType() === ccCode ? cards[ccCode].eligibilityCode: null,
                                                'aria-current': ccType() === ccCode ? cards[ccCode].eligibilityCode : null}
                                            ">
                                            <img attr="src: ccIcons[ccCode].url, alt: cards[ccCode].eligibilityCode, width: ccIcons[ccCode].width, height: ccIcons[ccCode].height" />
                                        </li>
                                    </with>
                                </each>
                            </ul>
                        </div>
                    </div>

                    <div class="card-layout">
                        <each args="data: Object.keys(fields), as: 'fieldName'">
                            <!-- ko with: $parent -->
                            <div class="field required" attr="'data-field-name': fieldName" css="[fields[fieldName].class] +'-area'">
                                <label class="label" translate="fields[fieldName].label" attr="for: 'card-' + fieldName"></label>
                                <div css="'field-wrapper': fields[fieldName].tooltip">
                                    <div class="card-field" attr="id: 'card-' + fieldName" css="error: !isFieldValid(fieldName), [fields[fieldName].class]: true, 'display-lock': fields[fieldName]?.showLockIcon">
                                        <div class="lock-icon" if="fields[fieldName]?.showLockIcon"  attr="title: lockTitle" ></div>
                                    </div>
                                    <div class="field-tooltip toggle" if="fields[fieldName].tooltip">
                                        <span class="field-tooltip-action"
                                              tabindex="0"
                                              data-toggle="dropdown"
                                              css="['action-' + fieldName]"
                                              attr="title: fields[fieldName].tooltip.title"
                                              data-bind="mageInit: {'dropdown':{'activeClass': '_active'}}">
                                            <span translate="fields[fieldName].tooltip.title"></span>
                                        </span>
                                        <div class="field-tooltip-content"
                                             data-target="dropdown"
                                             data-bind="html: fields[fieldName].tooltip.contentUnsanitizedHtml"></div>
                                    </div>
                                </div>
                                <div class="field-error" if="!isFieldValid(fieldName)">
                                    <span translate="getFieldErrorMessage(fieldName)"></span>
                                </div>
                            </div>
                            <!-- /ko -->
                        </each>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="card-grid card-aux">
            <div aria-atomic="true" role="alert" class="message message-error error" if="isFormRendered() && !isAvailable()">
                <div data-ui-id="checkout-cart-validationmessages-message-error" translate="notEligibleErrorMessage"></div>
            </div>
            <div class="field choice" if="isFormRendered() && isAvailable() && isCommerceVaultEnabled">
                <input
                        enable="isFormRendered() && isAvailable()"
                        type="checkbox"
                        name="vault[is_enabled]"
                        class="checkbox"
                        data-bind="attr: {'id': getCode() + '_enable_vault'}, checked: vaultEnabler.isActivePaymentTokenEnabler">
                <label class="label" data-bind="attr: {'for': getCode() + '_enable_vault'}">
                    <span><!-- ko i18n: 'Save for later use.'--><!-- /ko --></span>
                </label>
                <div class="field-tooltip toggle">
                    <span class="field-tooltip-action"
                          tabindex="0"
                          data-toggle="dropdown"
                          attr="title: $t('What is this?')"
                          data-bind="mageInit: {'dropdown':{'activeClass': '_active'}}">
                        <span translate="'What is this?'"></span>
                    </span>
                    <div class="field-tooltip-content"
                         data-target="dropdown"
                         translate="'Securely store your credit card information for future use.'">
                    </div>
                </div>
            </div>
            <div class="actions-toolbar" if="isFormRendered() && isAvailable()">
                <div class="primary">
                    <button class="action primary checkout"
                            type="submit"
                            click="placeOrderClick"
                            attr="title: placeOrderTitle"
                            css="disabled: !isPlaceOrderActionAllowed()"
                            ko-disabled="getCode() !== isChecked() || !isFormValid()">
                        <span translate="placeOrderTitle"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
