<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko if: isMethodActive() -->
    <div class="paypal paypal-cart checkout paypal-logo braintree-paypal-logo braintree-paypal-express-container">
        <div data-bind="attr: {
            'data-currency': checkoutCurrency,
            'data-locale': checkoutLocale,
            'data-amount': checkoutAmount,
            'data-displayname': getMerchantName(),
            'data-actionsuccess': actionSuccess,
            'data-funding': 'paypal',
            'data-fundingicons': true,
            'data-label': buttonLabel,
            'data-color': buttonColor,
            'data-shape': buttonShape,
            'data-requiredbillingaddress': getIsRequiredBillingAddress()
            },
            afterRender: initPayPalButtons"
             id="paypal-braintree-express-payment"
             class="action-braintree-paypal-logo express-paypal"></div>
    </div>
<!-- /ko -->
